<div class="footer-container">
  <p style="font-size: large; padding-left: 1.5em; padding-top: 1.5em">
    Questions
  </p>

  <div class="footer-info">
    <div>
      <p>FAQ</p>
      <p>Account</p>
      <p>Help Center</p>
      <p>Media Center</p>
    </div>
    <div>
      <p>Investor Relations</p>
      <p>Jobs</p>
      <p>Netflex Shop</p>
      <p>Redeem Gift Cards</p>
    </div>
    <div>
      <p>Buy Gift Cards</p>
      <p>Privacy</p>
      <p>Terms of Use</p>
      <p>Cookie Preferences</p>
    </div>
    <div>
      <p>FAQ</p>
      <p>Account</p>
      <p>Help Center</p>
      <p>Cookie Preferences</p>
    </div>
    <div>
      <p>Only on Netflix</p>
      <p>Do Not Sell or Share My Personal Information</p>
      <p>Ad Choices</p>
    </div>
  </div>
</div>
<!-- 
  <table>
    <tr>
      <td>FAQ</td>
      <td>Account</td>
      <td>Help Center</td>
      <td>Media Center</td>
    </tr>
    <tr>
      <td>Account</td>
      <td>Help Center</td>
      <td>Media Center</td>
      <td>Investor Relations</td>
    </tr>
    <tr>
      <td>Jobs</td>
      <td>Netflex Shop</td>
      <td>Redeem Gift Cards</td>
      <td>Buy Gift Cards</td>
    </tr>
    <tr>
      <td>Ways to Watch</td>
      <td>Terms of Use</td>
      <td>Privacy</td>
      <td>Cookie Preferences</td>
    </tr>
    <tr>
      <td>Corporate Information</td>
      <td>Contact Us</td>
      <td>Speed Test</td>
      <td>Legal Notices</td>
    </tr>
    <tr>
      <td>Only on Netflix</td>
      <td>Do Not Sell or Share My Personal Information</td>
      <td>Ad Choices</td>
    </tr>
  </table> -->
<!-- </div> -->
