<!-- <cdk-virtual-scroll-viewport
  itemSize="500"
  (scrolledIndexChange)="onScroll()"
  class="movie-list-viewport"
>
  <div *cdkVirtualFor="let movie of movies$ | async">
    <div class="movie-list">
      <app-movie-item [movie]="movie"></app-movie-item>
    </div>
  </div>
</cdk-virtual-scroll-viewport> -->

<app-navbar [currentPage]="'movie'"></app-navbar>
<div class="movie-list">
  <app-movie-item
    *ngFor="let movie of movies$ | async"
    [movie]="movie"
  ></app-movie-item>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
></div>
