.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 35em;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 1em;
  font-size: medium;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  width: 20em;
  height: 40em;
  margin-top: 5em;
}

mat-form-field {
  width: 100%;
}

mat-error {
  text-align: left;
  font-size: smaller;
  color: red;
}
.input-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.toggle-button {
  position: absolute;
  right: 0px;
}

button[mat-icon-button] {
  margin-right: 0.7em;
}

button[mat-flat-button] {
  width: 100%;
  color: white;
  background-color: red;
  border-radius: 0;
}
