.navbar-brand {
  font-size: xx-large;
  color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  border-radius: 0.5;
  width: 5em;
}
.user-details {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  font-weight: lighter;
}
.navbar {
  display: flex;
}
