<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NETFLEX</a>
    <div class="user-details" *ngIf="loggedIn">
      <span>{{ user }}</span>
    </div>

    <ng-container *ngIf="toggleButton">
      <button
        *ngIf="!loggedIn"
        type="button"
        class="btn btn-danger"
        [routerLink]="'/login'"
      >
        Login
      </button>
      <button
        *ngIf="loggedIn"
        type="button"
        class="btn btn-danger"
        (click)="logOut()"
      >
        Logout
      </button></ng-container
    >
  </div>
</nav>
