<div
  *ngIf="movie"
  [style.background-image]="'url(' + this.backGroundUrl + ')'"
  [style]="{
    'background-size': 'cover',
    width: '100%',
    height: '100%'
  }"
>
  <app-navbar [currentPage]="'movie'"></app-navbar>
  <div class="movie-details-container">
    <div class="movie-info">
      <h2>{{ movie.title }}</h2>
      <div class="movie-info-row">
        <p style="margin-right: 1em">
          {{ movie.vote_average }} | {{ movie.vote_count }}
        </p>
        <p *ngFor="let genre of movie.genres">
          <span> {{ genre.name }}, </span>
        </p>
      </div>
      <div class="movie-info-row">
        <p>{{ movie.overview }}</p>
      </div>
      <div class="movie-info-row">
        <button mat-button>Play Now</button>
        <button mat-button (click)="showTrailer(movie.id)">Trailer</button>
      </div>
    </div>
    <div class="movie-info">
      <div class="movie-info-row">
        <h6>Poster</h6>
      </div>
      <div class="movie-info-row">
        <h6>Actors</h6>
      </div>
    </div>
  </div>
  <div *ngIf="showTrailerFlag" class="carousel-modal">
    <div class="carousel-content">
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let video of videos$ | async">
          <ng-template carouselSlide>
            <div class="video-container">
              <youtube-player [videoId]="video.key"></youtube-player>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="close-button">
        <button mat-button (click)="closeTrailer()">close</button>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="showTrailerFlag">
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let video of videos$ | async">
        <ng-template carouselSlide>
          <div class="video-container">
            <youtube-player [videoId]="video.key"></youtube-player>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div> -->
</div>
